.App {
  margin: 0 auto;
}

.example {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.member-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  max-width: 350px;
}


